.moving_clouds {
  height: 500px;
  width: 100vw;
  margin: -500px 0px;
  align-self: center;
  z-index: -1;
  animation: floating 4s linear infinite;
}

.moving_clouds img {
  height: 30vh;
  animation: move-across1 14s linear infinite;
  position: relative;
}

@keyframes move-across1 {
  from {
    left: -15%;
  }

  to {
    left: 100%;
  }

}

@keyframes move-across2 {
  from {
    left: -25%;
  }

  to {
    left: 100%;
  }

}

@keyframes reverse-move {
  from {
    right: -100%;
  }

  to {
    right: 20%;
  }

}

@keyframes floating {
  50% {
    transform: translateY(40px);
  }
}