* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.background {
  background: linear-gradient(to bottom, #077B88, #E2CCC6);
  width: 100vw;
  height: 100vh;
}

.slider_wrapper {
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 13%;
}

.slider {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation: rotate 20s linear infinite;
  animation-play-state: running;
}

@keyframes rotate {
  0% {
    transform: perspective(1200px) rotateY(0deg)
  }

  100% {
    transform: perspective(1200px) rotateY(360deg)
  }
}

.slider span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)*90deg)) translateZ(350px);
}

.slider span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: 1s;
}

.slider span:hover img {
  transform: translateY(-50px) scale(1.1);
}

@media (max-width: 1100px) {
  .slider {
    width: 230px;
    height: 230px;
  }

  .slider span {
    transform: rotateY(calc(var(--i)*90deg)) translateZ(200px) !important;
  }
}

@media (max-height: 900px) {
  .slider {
    width: 230px;
    height: 230px;
  }

  .slider span {
    transform: rotateY(calc(var(--i)*90deg)) translateZ(300px) !important;
  }
}

@media (max-width: 850px) {
  .slider {
    width: 150px;
    height: 150px;
  }

  .slider span {
    transform: rotateY(calc(var(--i)*90deg)) translateZ(180px) !important;
  }

  .slider_wrapper {
    padding-top: 20%;
  }
}

.welcome_wrapper {
  max-width: 500px;
  width: 60vw;
}

.welcome_text {
  line-height: 150%;
  text-align: center;
  color: #034E61;
}

.welcome_text h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #063541;
  text-shadow: 4px 3px #E2CCC6;
  font-family: Montserrat, bold;
  padding: 10px 0px;
}


.popping_cat {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
}