.section {
  background: #E2CCC6;
  justify-content: center;
  align-items: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
}


.about_me_wrapper {
  display: flex;
  flex-direction: row;
}

.about_me_img {
  max-width: 300px;
  align-self: center;
  justify-self: center;
}

.text {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  justify-content: center;

}

.about_me_text {
  margin: 70px 50px;
  font-size: 18px;
  color: #077B88;
}

.about_me_text h1 {
  font-size: 18px;
  font-weight: 800;
  position: relative;
  color: #eb8173;
  overflow: hidden;
  background: linear-gradient(to right, #077B88, #077B88 50%, #eb8173 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.about_me_text h1:hover {
  background-position: 0 100%;
  animation: bop_smaller 1s linear infinite;
}

.head {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #077B88;
  text-shadow: 4px 3px #9DC6CA;
  font-family: Montserrat, bold;
  transition: all .2s ease-in-out;
}

.head:hover {
  transform: translateY(-5px) scale(1.1);
}

.animate_bop {
  animation: bop 3s linear infinite;
}

@keyframes bop {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-10px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes bop_smaller {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-2px);
  }

  100% {
    transform: translatey(0px);
  }
}

.align_left {
  text-align: left;
}

.align_right {
  text-align: right;
}

/* 
@media (max-width: 1080px) {
  .about_me_text {
    display: none;
  }

  .about_me_wrapper {
    flex-direction: column;
  }

  .about_me_img {
    margin-bottom: -120px;
  }

  .abt_txt_res_wrapper {
    display: block;
  }

}

.abt_txt_res_wrapper {
  display: none;
  flex-direction: column;
}

.category {
  width: 80vw;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 0px;
}

.abt_txt_res {
  margin: 100px 50px;
  font-size: 18px;
  color: #077B88;
}

.abt_txt_res h1 {
  font-size: 18px;
  font-family: Montserrat, bold;
  position: relative;
  color: #eb8173;
  overflow: hidden;
  background: linear-gradient(to right, #077B88, #077B88 50%, #eb8173 50%);
  background-clip: res;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.abt_txt_res h1:hover {
  background-position: 0 100%;
  animation: bop_smaller 1s linear infinite;
} */