/* The navigation bar */
.nav {
  overflow: hidden;
  position: fixed;
  /* Set the nav to fixed position */
  top: 0;
  /* Position the nav at the top of the page */
  /* Full width */
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  margin: -14px 0px;
  z-index: 5;
}

.jelly:hover {
  animation: bounce 1.5s infinite;
}

@keyframes bounce {

  from,
  to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

.bottom_mountain {
  background-color: #E2CCC6;
  height: 20vh;
  max-height: 120px;
  overflow: hidden;
  display: flex;
  align-items: bottom;
}